.page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .page {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
.element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ipl-logo {
  width: 75px;
}
.main-heading {
  color: white;
}
.logo-container {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
}
